# .env.example

# Обязательные параметры (ОБЯЗАТЕЛЬНО замените значения)
# Длинная случайная строка для подписи JWT
JWT_SECRET="supersecretkey"
# Длинная случайная строка, безопасная для пути, для 'удаления' файлов
DELETION_SECRET="STRONGDELETIONSECRET"
# Надёжный пароль первоначального пользователя admin
ADMIN_PASSWORD="changeme123!"

# Необязательные параметры
# API должен слушать только localhost так как nginx будет принимать внешние запросы
# HOST=127.0.0.1
# Порт API (по умолчанию 3050)
# PORT=3050
# DSN для отслеживания ошибок
# SENTRY_DSN=""
# Адреса, которые API возвращает клиентам для медиа, указывать через запятую
# EXTERNAL_CACHE_ENDPOINTS="https://example.com/media"
# Разрешённые источники CORS через запятую. По умолчанию CORS выключен
# CORS_ORIGINS="https://app.example.com"
# Абсолютный путь к cookies.txt для yt-dlp. Без параметра ищется cookies.txt в cwd
# YTDLP_COOKIES_PATH=/opt/floxy/cookies.txt
# Форматированный вывод логов в консоль (по умолчанию false)
# LOGGER_PRETTY="true"
# Отладочные логи
# DEBUG="true"
# SENTRY_DEBUG="true"

# Пути
# Локальная папка кеша - её отдаёт nginx (не включайте autoindex)
# CACHE_FOLDER="/opt/floxy/cache"
# Локальная папка журналов (по умолчанию logs в рабочей директории)
# LOGS_PATH="/opt/floxy/logs"
# Путь к базе SQLite (по умолчанию floxy.sqlite в рабочей директории)
# DATABASE_FILE="/opt/floxy/floxy.sqlite"
# Если ytdlp-nodejs не находит бинарники в PATH то укажите путь тут
# FFMPEG_PATH="/usr/bin/ffmpeg"
# YTDLP_PATH="/usr/local/bin/yt-dlp"
#YTDLP_EXTRA_ARGS="--no-warnings --restrict-filenames --js-runtimes node"
